{% block ux_media_widget %}
    {% embed '@ArkounayUxMedia/_ux_media_widget.html.twig' %}{% endembed %}
{% endblock %}

{% block ux_media_collection_row %}
    {{ block('form_row') }}
{% endblock %}

{% block ux_media_collection_widget %}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' arkounay-ux-collection arkounay-ux-collection--no-highlight ux-media-collection')|trim}) %}
    {{ block('ux_collection_widget') }}
{% endblock %}

{% block ux_media_row %}
    {%- if 'ux_media_collection_entry' in block_prefixes -%}
        {%- set row_attr = row_attr|merge({'data-arkounay--ux-collection--collection-target': 'collectionElement'}) -%}
    {%- endif -%}
    <div {% for k, v in row_attr|default %}{{ k }}="{{ v }}"{% endfor %}>
        {{ form_label(form) }}
        <div {% for k, v in attr|default %}{{ k }}="{{ v }}"{% endfor %}>
            {{ form_widget(form) }}
            {{ form_errors(form) }}
            {{ form_rest(form) }}
        </div>
    </div>
{% endblock %}